.container-perfil-participante{
    width: 100%;
}

.perfil-participante__header{
    background: linear-gradient(90deg, #D9043E 0%, #F28705 100%);
}

.perfil-participante__info{
    padding: 30px 100px;
}