.container-perfil-participante{
    width: 100%;
}

.perfil-participante__header{
    background: linear-gradient(90deg, #D9043E 0%, #F28705 100%);
}

.perfil-participante__info{
    padding: 30px 100px;
    display: flex;
    align-items: center;
}

.perfil-participante__foto {
    margin-right: 50px;
}

.perfil-participante__descricao {
    display: flex;
    flex-direction: column; 
}

.perfil-participante__nome {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.botao-editar {
    margin-left: 10px;
    padding: 8px 16px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 600;
}

.nome-participante-cor {
    font-size: 2.1rem;
    color: #fff;
}

.perfil-participante__dados {
    color: #fff;
    margin-top: 8px;
}

.perfil-participante__dados span {
    margin-right: 1rem;
    font-size: 1.2rem; 
    cursor: pointer;
}

