.container-local-evento {
    display: flex;
}

.local-evento-scroll{
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 20px 0;
}

.conteudo-local-evento{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.local-evento-scroll{
    height: 100vh;
    overflow: auto; 
    width: 100%;
}

.local-evento__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.local-evento__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.local-evento__form{
    display: flex;
    gap: 40px;
}

.local-evento__header h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.local-evento__header p{
    font-size: 1rem;
    color: #2d2d2def;
}

.local-evento__legenda span{
    color: var(--cor-laranja);
    font-weight: 600;
    font-size: 1.3rem;
}

.local-evento__botao{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.local-evento__botao span, .local-evento__botao button{
    font-size: 1rem;
    font-weight: 600;
}

.local-evento__botao span{
    color: var(--cor-laranja);
}

.local-evento__botao a{
    text-decoration: none;
}

