.container-depoimentos{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 30px;

    background-image: url(../../assets/faixa_laranja_horizontal.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}