.container-depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.depoimentos__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    background-image: url(../../assets/faixa_laranja_horizontal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    
    padding: 20px 0 50px;
}

.container-depoimentos__titulo h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 800;
    text-align: center;
}