.menu-lateral{
    height: 100vh;
}

.menu-lateral__conteudo {
    background-color: var(--cor-azul);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25vw;
    padding: 10px 40px;
    height: inherit;
}

.menu-lateral__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-lateral__perfil h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.menu-lateral__perfil span {
    color: var(--cor-amarela);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.menu-lateral__perfil a img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-lateral__lista{
    display: flex;
    height: 100%;
}

.menu-lateral__lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.menu-lateral a{
    text-decoration: none;
    color: white;
}

.menu-lateral__lista ul a {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;    
}

.menu-lateral__lista ul a:hover {
    background-color: rgba(255, 255, 255, 0.123);
}


.menu-lateral__lista ul a svg {
    margin-right: 10px;
    font-size: 1.5rem
}

@media only screen and (max-width:1300px){
    .menu-lateral__conteudo{
        width: 35vw;
    }

    .menu-lateral__lista ul {
        height: 50%;
    }
}

@media only screen and (max-width:1800px){
    .menu-lateral__lista ul {
        height: 70%;
    }
}