.evento-comum{
    padding: 25px;
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    box-shadow: 1px 1px 24px 0px rgba(164, 164, 164, 0.44);
    border-radius: 10px;
    cursor: pointer;
}

.container-evento{
    width: inherit; 
}

.titulo-evento-comum h2{
    color: #2D2D2D;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.30);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    
    line-height: normal;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;   
    white-space: nowrap; 
}

.titulo-evento-comum{
    width: 70%;
}

.dados-evento-comum{
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.data-evento-comum{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-azul);
}

.descricao-evento-comum{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.80);
}

.local-evento-comum{
    color: var(--cor-laranja);
    font-size: 1.2rem;
    font-weight: 600;
}

.imagem-evento-comum img{
    width: 100%;
    object-fit: cover;
}

.icones-evento-comum {
    display: flex;
    gap: 20px;
}

.icones-evento-comum span{
    display: flex;
    align-items: center;
}




