.container-detalhes-evento {
    margin-left: 300px;
    display: flex;
    justify-content: center;
}

.detalhes-evento {
    width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.detalhes-evento h2{
 font-size: 40px;
}

.detalhes-evento p{
    font-size: 18px;
}

.btn-detalhes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    justify-content: flex-end;
    padding: 20px 0;
}

.btn-detalhes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-laranja);
}

.filtros-detalhes{
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.detal-laranja{
    color: var(--cor-laranja);
}

.detal-rosa{
    color: var(--cor-rosa);
}

.detal-azul{
    color: var(--cor-azul);
}