.container-prog-evento {
    display: flex;
}

.conteudo-prog-evento{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 50%;
}

.prog-evento__header h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.prog-evento__header p{
    font-size: 1.3rem;
}

.prog-evento__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prog-evento__form span{
    font-size: 1.3rem;
    color: var(--cor-azul);
    font-weight: 600;
}

.btn-prog-evento a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-laranja);
}