.container-prog-evento {
    display: flex;
}

.conteudo-prog-evento{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 80%;
}

.prog-evento-scroll{
    height: 100vh;
    overflow: auto;
    padding: 20px 0;
}

.programacao-calendario{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.prog-evento__header h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.prog-evento__header p{
    font-size: 1rem;
    color: #2d2d2def;
}

.prog-evento__form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 55%;
}

.prog-evento__form span{
    font-size: 1.3rem;
    color: var(--cor-azul);
    font-weight: 600;
}

.prog-evento__calendar{
    width: 40%;
}

.prog-evento__botao {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.prog-evento__botao span{
    color: var(--cor-laranja);
}

.prog-evento__botao a{
    text-decoration: none;
}

.prog-evento__botao button, .prog-evento__botao span{
    font-weight: 600;
    font-size: 1rem;
}


/* Estilizando o container do calendário */
.react-calendar {    
    background: white;
    border: 2px solid var(--cor-rosa) !important;
    font-family: var(--font-family) !important;
    line-height: 1.125em;
    border-radius: 8px;
    padding: 10px;
}

/* Estilizando a navegação do calendário */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Estilizando os botões de navegação */
.react-calendar__navigation button {
    color: black !important;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
}

.react-calendar__tile, .react-calendar__tile--now, .react-calendar__tile--active, .react-calendar__tile--range, .react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd, .react-calendar__tile--rangeBothEnds, .react-calendar__month-view__days__day{
    padding: 10px 0 !important;
}

/* Estilizando a visualização do mês */
.react-calendar__month-view__days__day--weekend {
    color: var(--cor-laranja) !important;
}

/* Estilizando os tiles (dias) */
.react-calendar__tile {
    max-width: 100%;
    padding: 10px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Estilizando os tiles ao passar o mouse */
.react-calendar__tile:hover {
    background-color: #f0f0f0;
}

/* Estilizando os tiles selecionados */
.react-calendar__tile--active {
    background: white !important;
    color: var(--cor-rosa) !important;
    border: 2px solid var(--cor-rosa) !important;
    border-image-slice: 1 !important;
    border-radius: 15px !important;
}

/* Estilizando os tiles selecionados ao passar o mouse */
.react-calendar__tile--active:hover {
    background: whitesmoke !important;
}

/* Estilizando os tiles desabilitados */
.react-calendar__tile--now {
    background: white !important;
}

.react-calendar__tile--now:hover {
    background: whitesmoke !important;

}