.eventos{
    display: grid;
    grid-template-columns: repeat(3,32%);
    justify-content: space-between;
    gap: 20px;
}

.item-evento{
    width: inherit;
}

.item-evento a{
    text-decoration: none;
}

.header-carrossel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel-evento{
    width: var(--tamanho-container);
    margin: 0 auto;
}

.conteudo-eventos{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}
.header-carrossel h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-carrossel span{
    color: var(--cor-azul);
    font-size: 1.4rem;
    font-weight: 500;
}

@media only screen and (max-width:940px){
    .eventos{
        grid-template-columns: repeat(2,50%);
        gap: 20px;
    }
}

@media only screen and (max-width:640px){
    .eventos{
        grid-template-columns: repeat(1,100%);
        gap: 20px;
    }
}