.formulario-fale-conosco form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 40vw; */
    margin-top: 30px;
}

.container-fale-conosco{
    width: 100vw;
    background-image: url(../../assets/faixa-laranja.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.form-img{
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
}

.img-muro{
    height: 80%;
    border-radius: 30px;
}

.img-muro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.form-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-conosco{
    width: 40vw;
    display: flex;
    flex-direction: column;
} 

#mensagem{
    padding: 50px !important;
}

.email-tel{
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
}

.titulo-fale-conosco{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-fale-conosco h2{
    font-size: 2.5rem;
    background: var(--cor_texto, linear-gradient(90deg, #D9043E 0%, #F28705 99%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message-fale-conosco h4{
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    
}

.icones-contato{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 50vw;
    flex-wrap: wrap;
}

.linktree, .email, .telefone{
    display: flex;
    gap: 20px;
}

.link{
    display: flex ;
    flex-direction: column;
    font-size: 0.8rem;
}

.bold-icon{
    font-weight: bold;
}

.gradient-icon{
    background: var(--cor_texto, linear-gradient(90deg, #D9043E 0%, #F28705 99%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




