.container-header{
    width: inherit;
}

.header{
    background-repeat: no-repeat;
    background-size: 100%;
}

.fundo-home{
    background-image: url('../../assets/fundo_home.png');
}

.fundo-comunidade{
    background-image: url('../../assets/fundo_comunidade.png');
    height: 500px;
}

.fundo-comunidade h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.fundo-explorar{
    background-image: url('../../assets/fundo_explorar.png');
}

.fundo-detalhe-evento{
    background-image: url('../../assets/fundo_detalhe_evento.png');
    height: 600px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo-sobre-nos{
    background-image: url('../../assets/header-sobrenos.png');
    height: 100vh;
}

.show{
    display: flex !important;
    flex-direction: column;
}

.hidden{
    display: none !important;
}

.fundo-comunidade h2{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.detalhe-evento__imagem{
    width: 75vw;
    height: 35vw;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 3px rgba(76, 0, 0, 0.18);
    border: 2px solid white;
}

.detalhe-evento__imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}