.container-visibilidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.conteudo-visibilidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-quadrado-visibilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

.title-visibilidade,
.text-visibilidade {
    width: 100%;
    text-align: left;
}

.title-visibilidade {
    margin-bottom: 5px;
    font-size: 30px;
}

.text-visibilidade {
    margin-bottom: 20px;
    font-size: 18px;
}

.opcoes-privacidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.opcao {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 10px;
}

.opcao.ativo {
    font-weight: bold;
}

.bolinha {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #999;
    margin-right: 10px;
    display: block;
}

.bolinha.ativo {
    background-color: var(--cor-azul);
    border-color: #999;
}

.btn-visibilidade {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    justify-content: flex-end;
    padding: 20px 0;
}

.btn-visibilidade a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-laranja);
}

.texto-visibilidade-descricao {
    font-size: 14px;
    color: #666;
    margin-top: 5px;}

.tipo-container {
    display: flex;
    align-items: center;
}

.tipo {
    margin-left: 5px;}