.container-visibilidade-evento{
    display: flex;
    width: 100%;
}

.visibilidade-evento-scroll{
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
}

.conteudo-visibilidade-evento{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
    width: 80%;
}

.visibilidade-evento__quadrado{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border: 1px solid #2d2d2dd2;
    border-radius: 10px;
}

.visibilidade-evento__header h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.visibilidade-evento__header p{
    font-size: 1rem;
    color: #2d2d2def;
}

.visibilidade-evento__opcoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opcao {
    display: flex;
    cursor: pointer;
    gap: 12px;
}

.bolinha {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #2d2d2def;
    display: block;
    margin-top: 5px;
}

.bolinha.ativo {
    background-color: #2d2d2def;
}

.opcao__titulo span{
    font-weight: 600;
    font-size: 1rem;
}

.opcao__descricao{
    font-size: 1rem;
}

.visibilidade-evento__botao {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.visibilidade-evento__botao span{
    color: var(--cor-laranja);
}

.visibilidade-evento__botao a{
    text-decoration: none;
}

.visibilidade-evento__botao button, .visibilidade-evento__botao span{
    font-weight: 600;
    font-size: 1rem;
}