.disclaimer-impulsionar-evento{
    display: flex;
    justify-content: space-between;
    width: var(--tamanho-container);
    margin: 0 auto;
}

.impulsionar-evento__descricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.impulsionar-evento__descricao h2{
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 800;
}

.impulsionar-evento__descricao h2 span{
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.impulsionar-evento__descricao p{
    font-size: 1.4rem;
    line-height: 1.6;
}

.impulsionar-evento__imagem{
    width: 45%;
}

.impulsionar-evento__imagem img{
    width: 100%;
    object-fit: cover;
}
