* {
    box-sizing: border-box;
}

.container-menu {
    width: inherit;
}

.menu {
    width: inherit;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__lista {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    color: white;
    width: inherit;
}

.menu__lista .logo {
    width: 85px;
    cursor: pointer;
}

.menu__lista li a {
    text-decoration: none;
    color: white;
}

.menu__lista li {
    font-size: 1.2rem;
    cursor: pointer;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.pesquisa-user {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.pesquisa-user span {
    display: flex;
    align-items: center;
}

.pesquisa {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 15px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.39);
}

.pesquisa span {
    display: flex;
    align-items: center;
}

.pesquisa input {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font-size: 0.8rem;
    color: inherit;
    width: inherit;
}

.pesquisa input::placeholder {
    color: white;
}

.menu__lista li {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.menu__lista li:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.menu__lista li:hover {
    color: #fff;
}

.menu__lista li:hover::after {
    width: 100%;
}

.iniciar-login {
    position: relative;
}

.iniciar-login span {
    cursor: pointer;
}

.overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    z-index: 2999; /* Um pouco abaixo do z-index de login-opcao */
}

.login-opcao {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    gap: 20px;   
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a centralização */
}

.login-opcao h2{
    font-size: 1.8rem !important;
    color: var(--cor-azul) !important;
}

.login-opcao a{
    color: black;
}

.login-opcao button{
    background-color: var(--cor-azul);
}

.btn_cadastrese{
    padding: 10px;
    color: var(--cor-azul)!important;
    font-weight: bold;
}


@media only screen and (max-width:768px) {
    .menu{
        flex-direction: column;
    }
}