.container-comentario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentario__dados{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentario__nome{
    display: flex;
    align-items: center;
    gap: 10px;
}

.comentario__body{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.comentario__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comentario__nome .usuario-nome span{
    font-size: 1.5rem;
    font-weight: 600;
}

.comentario__nome .usuario-estrela{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.comentario__nome .usuario-nota span{
    font-size: 1.5rem;
}

.comentario__descricao p{
    font-size: 1.3rem;
    line-height: 1.8;
}

.comentario__like{
    font-size: 1rem;
    display: flex;
    gap: 10px;
}

.comentario__time{
    color: #2D2D2D;
}

.comentario__responder{
    font-weight: 600;
    color: #2D2D2D;
}

.comentario__perfil figure{
    width: 100px;
    height: 100px;
}

.comentario__perfil figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}