.container-homepage{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner-crescimento{
    width: 92vw;
    margin: 0 auto;
}

.banner-crescimento img{
    width: 100%;
    object-fit: conver;
}