.evento-comum{
    padding: 25px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    box-shadow: 1px 1px 24px 0px rgba(164, 164, 164, 0.44);
    border-radius: 10px;
    cursor: pointer;
}

.container-evento-comum{
    width: inherit; 
}

.container-evento-comum a{
    text-decoration: none;
}

.evento-comum__titulo h2{
    color: #2D2D2D;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.30);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    
    line-height: normal;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;   
    white-space: nowrap; 
}

.evento-comum__titulo{
    width: 70%;
}

.evento-comum__dados{
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.evento-comum__data{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 600;
}

.evento-comum__descricao{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.80);
    /* white-space: wrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    width: 100%;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.evento-comum__local{
    font-size: 1.2rem;
    font-weight: 600;
}

.cor-azul{
    color: var(--cor-azul);
}

.cor-laranja{
    color: var(--cor-laranja);
}

.evento-comum__imagem img{
    width: 100%;
    object-fit: cover;
}

.evento-comum__icones {
    display: flex;
    gap: 10px;
}

.evento-comum__icones span{
    display: flex;
    align-items: center;
}   


@media only screen and (max-width:1440px){
    
}



