.filtros-explorar{
    display: flex;
    width: var(--tamanho-container);
    margin: 0 auto;
    justify-content: space-between;
}

.container-explorar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.explorar-header{
    background-image: url('../../assets/fundo_explorar.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.explorar-header__evento-destaque{
    margin: 0 auto;
}