.depoimento{
    display :flex ;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    border: 1.5px solid #D3D3D3;
    box-shadow: 1px 1px 32px 0px rgba(164, 164, 164, 0.44);
    padding: 30px;
    margin: 0 auto;
    gap: 20px;
    background-color: white;
}

::-webkit-scrollbar{
    display: block;
  }

.depoimento__titulo{
    color: var(--cor-azul);
    font-size: 24px;
    font-weight: bold;
}

.perfil-nome-usuario{
    display: flex;
    flex-direction: column;
}

.titulo-descricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
