
.botao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f28705;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-topo:hover {
    background-color: #d27400;
  }
  
  .setinha {
    width: 24px;
    height: 24px;
  }