.container-inicio-cadastro{
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin: 0 auto;
    display: flex;
}

.conteudo-inicio-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.conatainer-inicio-cadastro figure {
    margin: 0;
}

.container-inicio-cadastro img {
    max-width: 100%;
    height: auto;
}

.texto-cadastro-evento {
    margin: 20px 0;
    font-size: 20px;
}

.botao-cadastro {
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
}

.botao-cadastro .link-cadastro {
    text-decoration: none;
    color: white;
}

