.container-detalhes-evento {
    display: flex;
}

.detalhes-evento {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.detalhes-evento__header h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.detalhes-evento__header p{
    font-size: 1.3rem;
}

.detalhes-evento__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categorias-evento{
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
}

.categorias-evento span{
    font-size: 1.3rem;
}

.detal-laranja{
    color: var(--cor-laranja);
}

.detal-rosa{
    color: var(--cor-rosa);
}

.detal-azul{
    color: var(--cor-azul);
}

.btn-detalhes{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.btn-detalhes span{
    color: var(--cor-laranja);
}

.btn-detalhes a{
    text-decoration: none;
}

.btn-detalhes button, .btn-detalhes span{
    font-size: 1.2rem;
    font-weight: 600;
}