.container-detalhes-evento {
    display: flex;
}

.conteudo-detalhes-evento {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.detalhes-evento-scroll{
    height: 100vh;
    overflow: auto;
    padding: 20px 0;
}

.detalhes-evento__header h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.detalhes-evento__header p{
    font-size: 1rem;
    color: #2d2d2def;
}

.detalhes-evento__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detalhes-evento__categorias{
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.detalhes-evento__categorias span{
    font-size: 1.3rem;
}

.detal-laranja{
    color: var(--cor-laranja);
}

.detal-rosa{
    color: var(--cor-rosa);
}

.detal-azul{
    color: var(--cor-azul);
}

.detalhes-evento__botao{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.detalhes-evento__botao span{
    color: var(--cor-laranja);
}

.detalhes-evento__botao a{
    text-decoration: none;
}

.detalhes-evento__botao button, .detalhes-evento__botao span{
    font-size: 1rem;
    font-weight: 600;
}