.container-plano{
    background-image: url('../../assets/fundo_sobrenos.png');
}

.fundo-plano{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap: 30px;
}