.plano{
    width: 25vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 32px 0px rgba(164, 164, 164, 0.44);
    border-radius: 10px;
    background-color: white;
    text-align: left;
}

.botao-plano{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botao-plano hr{
    border: 0.1px solid rgba(202, 202, 202, 0.616);
}

.tipo-plano span{
    color: #D90504;
}

.valor-plano h2{
    font-size: 2rem;
}

.beneficios span{
    display: flex;
    align-items: center;
}

.beneficios{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-beneficio{
    display: flex;
    gap: 10px;
}

.periodo-plano{
    color: rgb(168, 168, 168);
}