.container-evento-destaque{
    width: inherit;
    background-image: url('../../../assets/fundo_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
}
.container-scroll{
    width: 80vw;
}

.item{
    margin: 0 auto;
    display: flex;
}

.swiper-button-prev, 
.swiper-button-next{
    color: white;
}