.container-eventos-cadastrados {
    display: flex;
    width: 100%;
    height: 100%;
}

.eventos-cadastrados__header{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    margin: 0 auto;
}

.eventos-cadastrados__header h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.eventos-cadastrados__header p{
    font-size: 1rem;
    color: #2d2d2def;
}

.eventos-cadastrados-scroll {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.conteudo-eventos-cadastrados {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    /* position: absolute; */
}

.eventos-cadastrados__guia {
    display: flex;
    gap: 30px;
}

.eventos-cadastrados__guia span {
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    user-select: none;
}

.ativo{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    font-weight: 600;
}

/* .eventos-cadastrados__carrossel {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
} */

.eventos-cadastrados__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* 
.pendentes {
    opacity: 1;
    z-index: 2;
}

.eventos-cadastrados-scroll.active .pendentes {
    opacity: 0;
    z-index: 1;
}

.encerrados {
    opacity: 0;
    z-index: 1;
}

.eventos-cadastrados-scroll.active .encerrados {
    opacity: 1;
    z-index: 2;
    animation: move 0.1s;
} */

/* .active{
    opacity: 0;
    z-index: 1;
} */

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 2;
    }
}

.show-container{
    display: none;
}

.hidden-container{
    display: flex;
}
/* 
.troca-encerrado {
    border-bottom: 0px solid black !important;
}

.troca-pendente {
    border-bottom: 0px solid black !important;
} */