:root{
    --font-family: "Poppins";
    --cor-azul: #033E8C;
    --cor-rosa: #D9043E;
    --cor-vermelha: #D90504;
    --cor-amarela: #F2B705;
    --cor-laranja: #F28705;
    --font-size-text: 1rem;
    --font-size-title: 2rem;
    --tamanho-container: 90vw;
}

*{
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.filtros{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    
}

::-webkit-scrollbar {
    width: 8px; 
    height: 30px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #7a7a7aa1;
}

@media only screen and (max-width:1440px){
    :root{
        font-size: 16px;
        transition: all 0.5s;
    }
}

@media only screen and (max-width:1024px){
    :root{
        font-size: 14px;
        transition: all 0.5s;
    }
}

@media only screen and (max-width:768px){
    :root{
        font-size: 12px;
    }
}

@media only screen and (max-width:425px){
    :root{
        font-size: 10px;
    }
}


.show{
    display: block;
}

.hidden{
    display: none;
}