.container-visualizacao{
    width: 75vw;
    margin: 0 auto;
}

.conteudo-visualizacao__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-visualizacao {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 20px;
}

.conteudo-visualizacao h1 {
    font-size: 2rem;
}

.conteudo-visualizacao p {
    font-size: 1.3rem;
}

.visualizacao-evento {
    display: flex;
}

.visualizacao-evento {
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 30px;
}

.visualizacao-evento__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
    padding: 10px;
}

.visualizacao-evento__header span:nth-child(1) {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.visualizacao-evento__header span:nth-child(2) {
    cursor: pointer;
    color: var(--cor-azul);
    font-size: 20px;
    font-weight: bold;
}

.visualizacao-evento__carrossel{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,32%);
    justify-content: space-between;
}

.carrossel-visualizacao__item{
    width: 100%;
}

.carrossel-visualizacao__item:not(:nth-child(2)){
    background-color: rgba(107, 107, 107, 0.336);
    border-radius: 10px;
}

.conteudo-visualizacao__botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.conteudo-visualizacao__botoes span {
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.salvar-publicar button:nth-child(1){
    margin-right: 10px;
}

.salvar-publicar button {
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}
