.container-visualizacao{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.conteudo-visualizacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.container-visualizacao-scroll{
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 20px 0;
}

.visualizacao-evento__header h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.visualizacao-evento__header p {
    font-size: 1rem;
    color: #2d2d2def;
}

.visualizacao-evento {
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.carrossel-visualizacao__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel-visualizacao__header span:nth-child(1) {
    font-size: 1.5rem;
    cursor: pointer;
    background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-laranja) 99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.carrossel-visualizacao__header span:nth-child(2) {
    cursor: pointer;
    color: var(--cor-azul);
    font-size: 1rem;
    font-weight: 500;
}

.visualizacao-evento__carrossel{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,32%);
    /* height: 300px; */
    justify-content: space-between;
}

.carrossel-visualizacao__item{
   width: 100%;
   height: inherit;
}   

.carrossel-visualizacao__item:not(:nth-child(2)){
    background-color: rgba(107, 107, 107, 0.336);
    border-radius: 10px;
}

.visualizacao-evento__botao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.visualizacao-evento__botao a{
    text-decoration: none;
}

.visualizacao-evento__botao span{
    font-weight: 700;
    color: var(--cor-vermelha);
}

.visualizacao-evento__botao button, .visualizacao-evento__botao span{
    font-weight: 600;
    font-size: 1rem;
}

.salvar-publicar{
    display: flex;
    gap: 20px;
}

.salvar-publicar__button{
    border: none;
    background-color: white;
    padding: 0 20px;
    font-weight: 700;
    color: #D9043E;
    border: 2px solid #D9043E;
    border-radius: 10px;
    cursor: pointer;
}



