.campo-formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo-formulario input{
    border-radius: 20px;
    padding: 15px 30px;
    border: none;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}

.campo-formulario label{
    font-size: 1.4rem;
    font-weight: 500;
}

