.container-perfil-usuario{
    display: flex;
    gap: 10px;

}

.ft-perfil img{
    height: 48px;
    width: 48px;
    border-radius: 40px;
}

.nome-perfil h2{
    color: #160042;
    text-transform: capitalize;
}

.usuario span {
    text-transform: capitalize;
    color: #393B6A;
}