.detalhe-evento{
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: var(--tamanho-container);
    gap: 40px;
}

.detalhe-evento__imagem{
    width: 80vw;
    margin-top: 10%;
}

.detalhe-evento__imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini-perfil-organizador figure {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.mini-perfil-organizador figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.mini-perfil-organizador{
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background-color: #5b8ccda1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalhes-mini-perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.detalhes-mini-perfil span:nth-child(1){
    font-size: 2.0rem;
    font-weight: 700;
}

.detalhes-mini-perfil span:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
}

.botao-mini-perfil button{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 11px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-azul);
    color: white;
    font-weight: 700;
}

.mini-perfil-dados{
    display: flex;
    gap: 30px;
}

.container-detalhe-evento{
    background-size: 100%;
    background-image: url("../../assets/fundo-detalhe-evento.png");
    background-repeat: no-repeat;
}

.titulo-evento{
    text-align: start;
}


