.container-detalhe-evento{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detalhe-evento__header{
    background-size: 100%;
    background-image: url("../../assets/fundo-detalhe-evento.png");
    background-repeat: no-repeat;
    width: inherit;
}

.detalhe-evento__imagem figure{
    width: 80vw;
    height: 40vw;
    border-radius: 10px;
    border: 2px solid white;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px #4d0202c2;
}

.detalhe-evento__imagem figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.detalhe-evento__body{
    width: 80vw;
    margin: 0 auto;
}

.detalhe-evento__titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhe-evento__titulo h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: #151515;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.30);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.detalhe-evento__icones{
    display: flex;
    gap: 20px;
}

.detalhe-evento__icones img{
    width: 40px;
}

.detalhe-evento__categoria{
    display: flex;
    justify-content: space-between;
}

.detalhe-evento__body p{
    font-size: 1.5rem;
    line-height: 2;
    color: #2D2D2D;
}

.detalhe-evento__categoria{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-laranja);
}

.detalhe-evento__body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detalhe-evento__prog-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.detalhe-evento__prog-info p{
    font-size: 1.5rem;   
}

.detalhe-evento__descricao{
    width: 55%;
}

.detalhe-evento__descricao p{
    font-size: 1.5rem;
    line-height: 2;
    color: #2D2D2D;
}

.detalhe-evento__programacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 30px;
    border: 3px solid var(--cor-rosa);
    width: 40%;
}

.detalhe-evento__programacao h2{
    font-size: 1.5rem;
    text-transform: uppercase;

    font-weight: 600;
    background: linear-gradient(90deg, #D9043E 0%, #F28705 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.programacao__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.programacao__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.programacao__icone{
    display: flex;
    gap: 10px;
    align-items: center;

    font-weight: 600;
    background: linear-gradient(90deg, #D9043E 0%, #F28705 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.programacao__icone figure{
    width: 1.2rem;
    height: 1.2rem;
}

.programacao__icone figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini-perfil-organizador figure {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.mini-perfil-organizador figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.mini-perfil-organizador{
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background-color: #5b8ccda1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalhes-mini-perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.detalhes-mini-perfil span:nth-child(1){
    font-size: 2.0rem;
    font-weight: 700;
}

.detalhes-mini-perfil span:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
}

.botao-mini-perfil button{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 11px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-azul);
    color: white;
    font-weight: 700;
}

.mini-perfil-dados{
    display: flex;
    gap: 30px;
}

.detalhe-evento__comentarios{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.evento-comentarios__header{
    display: flex;
    justify-content: space-between;
}

.evento-comentarios__header h2{
    font-size: 2rem;
}

.evento-comentarios__header button{
    border: none;
    background: transparent;
    padding: 10px 30px;
    border: 2px solid var(--cor-rosa);
    color: var(--cor-rosa);
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}