.container-header{
    width: inherit;
}

.fundo-home{
    background-image: url('../../assets/fundo_home.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.fundo-comunidade{
    background-image: url('../../assets/fundo_comunidade.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

.fundo-explorar{
    background-image: url('../../assets/fundo_explorar.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


.show{
    display: block;
}

.hidden{
    display: none;
}

.fundo-comunidade h2{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
}